.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
.env
.env.*
!.env.example
docker-compose.override.yml
*.log
*.md
tests/
.phpunit*
.editorconfig
.styleci.yml
phpcs.xml
phpstan.neon
